.container {
  margin: 0 0.5rem;
}

.container + .container {
  margin-top: 0.75rem;
}

.containerTask {
  display: grid;
  grid-template-columns: 2.5rem 1fr 3rem;
  padding: 1.2rem;

  width: 100%;
  height: 4.5rem;

  background: var(--gray-550);

  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.containerTask input[type="checkbox"] {
  appearance: none;
  background: transparent;

  width: 1.5rem;
  height: 1.5rem;

  border: 2px solid var(--blue-200);
  border-radius: 50%;
  margin-right: 0.875rem;

  transition: all 0.2s;
  cursor: pointer;
}

.containerTask input[type="checkbox"]:focus {
  outline: transparent;
  box-shadow: none;
}
.containerTask input[type="checkbox"]:hover {
  border: 2px solid var(--blue-400);
  background: var(--gray-400);
}

.containerTask input[type="checkbox"]:checked {
  background: var(--purple-200);
  border: 2px solid var(--purple-200);
  color: var(--gray-100);
  /* transform-origin: bottom left; */
  /* clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); */
}

.titleTask {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.4;
}

.titleTaskDone {
  color: var(--gray-300);
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration-line: line-through;
}

.containerTask svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin-left: 0.875rem;

  cursor: pointer;
  transition: color 0.2s;
}

.containerTask svg:hover {
  color: var(--red-200);
}

.containerTask svg:focus {
  box-shadow: 0 0 0 2px var(--red-200);
}
